.back-to-top-button {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 165px;
  color: darkred;
  border: none;
  background-color: transparent;
  font-size: 40px;
}

@media screen and (max-width: 430px) {
  .back-to-top-button {
    right: -40px;
    font-size: 35px;
  }
}

/* navbar css */

nav {
  background-color: black;
}

.nav-logo {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: poppins;
  font-style: italic;
  font-weight: bolder;
}

.nav-logo span {
  color: darkred;
}

ul li {
  color: white;
  font-size: 16px;
  margin: 15px 0 0 20px;
  text-transform: uppercase;
  font-family: poppins;
}


ul li:hover {
  color: darkred;
}

.navbar-toggler span {
  color: white;
  font-size: 35px;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 980px) {
  ul {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
}




/* homepage css */
.homebanner-container {
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1651840403916-d1e0515b32c4?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homebanner-container h1 {
  font-size: 100px;
  color: white;
  font-weight: bolder;
  font-style: italic;
}

.homebanner-container span {
  color: darkred;
}

.homebanner-container button {
  border: none;
  background-color: darkred;
  padding: 20px 50px;
  color: white;
  margin-top: 30px;
  font-family: poppins;
  font-size: 20px;
}

@media screen and (max-width: 430px) {

  .homebanner-container h1 {
    font-size: 60px;
  }

  .homebanner-container button {
    font-size: 15px;
    padding: 10px 30px;
  }
}


/* exercises css */

.search-exercise-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1651840403916-d1e0515b32c4?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

.search-exercise-container h1 {
  color: white;
  font-family: poppins;
  text-transform: capitalize;
  letter-spacing: -1px;
  
}

.search-bar input {
  outline: none;
  width: 300px;
  padding: 10px;
  border: none;
  font-family: poppins;
  letter-spacing: -1px;
  margin-right: 10px;
}

.search-bar button {
  border: none;
  color: white;
  background-color: darkred;
  padding: 10px 25px;
  margin-top: 30px;
}

.exercise-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercises-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.exercise-card {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  border: none;
  box-shadow: 0 0 10px lightgray;
  width: 350px;
  height: 450px;
  margin: 25px;
  padding: 0 30px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  background-color: white;
}

.exercise-card img {
  width: 300px;
  height: 300px;
}

.exercise-card:hover {
  transform: scale(1.1);
}

.exercise-details h1 {
  font-size: 20px;
  color: darkred;
  font-family: poppins;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-bottom: 20px;
}

.exercise-details p {
  font-family: poppins;
  text-transform: capitalize;
  letter-spacing: -1px;
}

@media screen and (max-width: 430px) {
  .exercise-card img {
    width: 200px;
    height: 200px;
  }

  .exercise-card {
    width: 275px;
    height: auto;
  }

  .exercise-card h1 {
    font-size: 15px;
  }

  .exercise-card p {
    font-size: 12px;
  }

  .search-bar input {
    width: 200px;
  }
}

.paginate {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
}

@media screen and (max-width: 430px) {
  .paginate {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

/* footer css */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  min-height: 10vh;
  font-family: poppins;
}

.footer-container span {
  color: darkred;
}